In [2]:
import pandas as pd
import numpy as np

# Upload repairs data
dtp = pd.read_excel('C:/Users/sgulbin/Work/Data/accidents/DTP_data_6_01_2020.xlsx')
dtp['Дата и время ДТП'] = pd.to_datetime(dtp['Дата и время ДТП'], dayfirst=False, errors = 'coerce')
dtp['yyyy-mm'] = dtp['Дата и время ДТП'].dt.strftime('%Y-%m')
dtp['date'] = dtp['Дата и время ДТП'].dt.date
dtp['time'] = dtp['Дата и время ДТП'].dt.time
dtp['weekday'] = dtp['Дата и время ДТП'].dt.day_name()
dtp['day_of_year'] = dtp['Дата и время ДТП'].dt.dayofyear
dtp.sort_values('Дата и время ДТП', inplace=True)
dtp['Телефон водителя'] = dtp['Телефон водителя'].replace(np.nan, 0, regex=True)
dtp['Телефон водителя'] = dtp['Телефон водителя'].apply(int)
dtp.reset_index(drop=True, inplace = True)
dtp['ТС'] = dtp['ТС'].str.replace(' ', '')
dtp = dtp[['Дата и время ДТП','yyyy-mm','date','time','weekday','day_of_year','Регион','Телефон водителя','Виновность', 'ТС', 'Модель автомобиля', 'POOL', 'Тариф','Ремонт не производился','Тип ДТП', 'Вид страхования', 'Пострадавшие','Комментарий','Сумма по заказ-наряду','Выставлено', 'Страховая компания сумма выплаченная']].rename(columns={
    'Дата и время ДТП': 'datetime',
    'yyyy-mm': 'yyyy-mm',
    'date':'date',
    'time':'time',
    'weekday': 'weekday',
    'day_of_year':'day_of_year',
    'Регион': 'region',
    'Телефон водителя': 'phone',
    'Виновность': 'responsibility',
    'ТС': 'license_plate',
    'Модель автомобиля': 'vehicle_model',
    'POOL': 'pool',
    'Тариф': 'tariff',
    'Ремонт не производился': 'no_repair_conducted',
    'Тип ДТП': 'accident_type',
    'Вид страхования': 'insurance_type',
    'Пострадавшие': 'injured',
    'Комментарий': 'description',
    'Сумма по заказ-наряду': 'repair_cost',
    'Выставлено': 'vystavleno',
    'Страховая компания сумма выплаченная': 'insurance_paid_sum'
})
# dtp.to_excel('C:/Users/sgulbin/Work/Data/accidents/accidents_data.xlsx', index = False)
dtp.head()

,datetime,yyyy-mm,date,time,weekday,day_of_year,region,phone,responsibility,license_plate,...,pool,tariff,no_repair_conducted,accident_type,insurance_type,injured,description,repair_cost,vystavleno,insurance_paid_sum
0,2019-01-02,2019-01,2019-01-02,00:00:00,Wednesday,2,Москва,79995812517,Виновен,У389ЕА799,...,No,Базовый,No,NaN,NaN,Нет пострадавших,"поврежден передний бампер немного, из гибдд н...",70801.51,58655.0,NaN
1,2019-01-02,2019-01,2019-01-02,00:00:00,Wednesday,2,Красноярск,79135819270,Виновен,М022ТМ777,...,No,Базовый,No,Столкновение 2-х и более ТС,NaN,Нет пострадавших,NaN,115128.00,30000.0,NaN
2,2019-01-02,2019-01,2019-01-02,00:00:00,Wednesday,2,Уфа,79603834871,Виновен,Р842РМ777,...,No,Базовый,No,Наезд на препятствие,NaN,Нет пострадавших,NaN,58030.00,30000.0,NaN
3,2019-01-02,2019-01,2019-01-02,00:00:00,Wednesday,2,Уфа,79869755951,Виновен,В284ХА777,...,No,Базовый,No,Наезд на препятствие,NaN,Нет пострадавших,NaN,138000.00,30000.0,NaN
4,2019-01-02,2019-01,2019-01-02,00:00:00,Wednesday,2,Санкт-Петербург,79990897596,Виновен,М120МЕ799,...,No,Базовый,No,Столкновение 2-х и более ТС,ОСАГО,Нет пострадавших,Клиент глухонемой ждет в авто нреобходимы меха...,86685.00,30000.0,NaN

In [11]:
df = dtp.loc[(dtp.datetime < '2020-05-29')&(dtp.datetime > '2020-03-31')&(dtp.datetime!='2020-04-29')&\
              (dtp.datetime!='2020-04-30')&(dtp.region!='Нижний Новгород')&(dtp.region!='Самара')&(dtp.region!='Екатеринбург')&\
             (dtp.region!='Санкт-Петербург')&(dtp.region!='Москва')&(dtp.region!='Краснодар')]#&(dtp.responsibility == 'Виновен')]
# df = dtp.loc[(dtp.datetime < '2020-06-01')&(dtp.datetime > '2020-03-31')&(dtp.datetime!='2020-05-01')&\
#              (dtp.region!='Нижний Новгород')&(dtp.region!='Самара')&(dtp.region!='Екатеринбург')&\
#              (dtp.region!='Санкт-Петербург')&(dtp.region!='Москва')&(dtp.region!='Краснодар')]#&(dtp.responsibility == 'Виновен')]
df['period'] = np.where(df.datetime < '2020-05-01','no_scoring', 'scoring')
df = df[['period', 'datetime']]
df.groupby('period').count()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

            datetime
period
no_scoring        38
scoring           39