In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/sgulbin/Work/Analysis/BusinessClassAccess/data.csv')
# Subtracting taxes from cost and order sum
df['cost'] = df['cost']/1.2
df['order_sum'] = -df['order_sum']/1.2
df['ue_cost'] = np.where(df.vehicle_brand == 'BMW', df.rent_time*-7.66, df.rent_time*-6.06)
output = pd.DataFrame({'score':[],'rent_time_AS_IS':[],'rent_time_TO_BE':[],'ride_time_AS_IS':[],'ride_time_TO_BE':[],\
                       'cost_AS_IS':[], 'cost_TO_BE':[],'order_sum_AS_IS':[],'order_sum_TO_BE':[], 'ue_cost_AS_IS':[],\
                       'ue_cost_TO_BE':[],'econ_effect_AS_IS':[],'econ_effect_TO_BE':[],'econ_effect_UE_AS_IS':[],\
                       'econ_effect_UE_TO_BE':[]})
for score in np.arange(0.01,1.01,0.01):
    dfr = df
    dfr['cost_TO_BE'] = np.where(dfr.final_score < score, 0, dfr.cost)
    dfr['order_sum_TO_BE'] = np.where(dfr.final_score < score, 0, dfr.order_sum)
    dfr['ride_time_TO_BE'] = np.where(dfr.final_score < score, 0, dfr.ride_time)
    dfr['rent_time_TO_BE'] = np.where(dfr.final_score < score, 0, dfr.rent_time)
    dfr['ue_cost_TO_BE'] = np.where(dfr.final_score < score, 0, dfr.ue_cost)
    result = pd.DataFrame({'score':[score]\
                           ,'rent_time_AS_IS': [dfr.rent_time.sum()]\
                           ,'rent_time_TO_BE': [dfr.rent_time_TO_BE.sum()]\
                           ,'ride_time_AS_IS': [dfr.ride_time.sum()]\
                           ,'ride_time_TO_BE': [dfr.ride_time_TO_BE.sum()]\
                           ,'cost_AS_IS': [dfr.cost.sum()]\
                           ,'cost_TO_BE': [dfr.cost_TO_BE.sum()]\
                           ,'order_sum_AS_IS': [dfr.order_sum.sum()]\
                           ,'order_sum_TO_BE': [dfr.order_sum_TO_BE.sum()]\
                           ,'ue_cost_AS_IS': [dfr.ue_cost.sum()]\
                           ,'ue_cost_TO_BE': [dfr.ue_cost_TO_BE.sum()]\
                           ,'econ_effect_AS_IS':[dfr.cost.sum()+dfr.order_sum.sum()]\
                           ,'econ_effect_TO_BE':[dfr.cost_TO_BE.sum()+dfr.order_sum_TO_BE.sum()]\
                           ,'econ_effect_UE_AS_IS':[dfr.cost.sum()+dfr.order_sum.sum()+dfr.ue_cost.sum()]\
                           ,'econ_effect_UE_TO_BE':[dfr.cost_TO_BE.sum()+dfr.order_sum_TO_BE.sum()+dfr.ue_cost_TO_BE.sum()]})
    output = output.append(result)
output.to_csv('C:/Users/sgulbin/Work/Analysis/BusinessClassAccess/econ_effect_v2.csv', index = False)

In [5]:
# np.arange(0.01,1.01,0.01)
# df.final_score.sum()
# output = pd.DataFrame({'score':[],'econ_effect_TO_BE':[], 'econ_effect_AS_IS':[]})
# result = pd.DataFrame({'score':[1.0],'econ_effect_TO_BE':[100],\
#                            'econ_effect_AS_IS':[50]})
# output = output.append(result)
# output
# result
# df.ride_time.sum()
# output.econ_effect_TO_BE.max()
df

,rent_id,Start,End,cost,ride_time,rent_time,rent_region_en,Brand,rent_id.1,guilty,...,pricing,ftr_score,deli_score,final_score,ue_cost,cost_TO_BE,order_sum_TO_BE,ride_time_TO_BE,rent_time_TO_BE,ue_cost_TO_BE
0,846253499.0,2020-06-09 00:14:31,2020-06-09 01:05:10,382.25,25.84,50.65,Moscow,BMW,NaN,NaN,...,1.07,0.66,0.46,0.4900,-387.9790,0.0,0.0,0.0,0.0,0.0
1,846253581.0,2020-06-09 00:27:07,2020-06-09 01:57:09,1012.53,66.60,90.04,Moscow,BMW,NaN,NaN,...,1.07,0.48,0.64,0.6160,-689.7064,0.0,0.0,0.0,0.0,0.0
2,846253614.0,2020-06-09 00:30:58,2020-06-11 01:30:30,18636.95,424.25,2939.53,Moscow,BMW,NaN,NaN,...,1.12,0.57,0.06,0.1365,-22516.7998,0.0,0.0,0.0,0.0,0.0
3,846253662.0,2020-06-09 00:42:12,2020-06-09 01:17:04,497.03,33.95,34.87,Moscow,BMW,NaN,NaN,...,1.07,1.00,0.52,0.5920,-267.1042,0.0,0.0,0.0,0.0,0.0
4,846503253.0,2020-06-09 00:00:35,2020-06-09 01:43:21,616.00,94.55,102.77,Moscow,BMW,NaN,NaN,...,1.15,0.32,0.01,0.0565,-787.2182,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169570,976508720.0,2020-08-24 23:02:01,2020-08-24 23:19:52,56.00,8.08,17.86,Moscow,BMW,NaN,NaN,...,1.12,NaN,0.25,0.2500,-136.8076,0.0,0.0,0.0,0.0,0.0
169571,976508736.0,2020-08-24 23:02:54,2020-08-25 00:00:56,801.81,54.23,58.03,Moscow,Mercedes,NaN,NaN,...,1.00,NaN,0.60,0.6000,-351.6618,0.0,0.0,0.0,0.0,0.0
169572,976509079.0,2020-08-24 23:24:32,2020-08-24 23:32:39,97.61,6.23,8.11,Moscow,BMW,NaN,NaN,...,1.12,NaN,0.25,0.2500,-62.1226,0.0,0.0,0.0,0.0,0.0
169573,976509205.0,2020-08-24 23:33:14,2020-08-24 23:47:55,137.47,9.82,14.68,Moscow,BMW,NaN,NaN,...,1.00,NaN,0.60,0.6000,-112.4488,0.0,0.0,0.0,0.0,0.0
169574,976509406.0,2020-08-24 23:48:33,2020-08-25 00:09:28,307.35,18.27,20.92,Samara,BMW,NaN,NaN,...,1.12,NaN,0.25,0.2500,-160.2472,0.0,0.0,0.0,0.0,0.0